import { FormControl, FormGroup } from '@angular/forms';
import { <%= className %>Form } from '../core/types/<%= dasherize(name) %>.form';

export const build<%= className %>Form = (): FormGroup => {
  const controls: any = {
<% for (const key in schema.properties) { -%>
    <%= strings.camelize(key) %>: new FormControl(null),
<% } -%>
    <%= strings.camelize(schema.id) %>: new FormControl(null)
  };

  return new FormGroup(controls);
};
