<c-modal [visible]="visible" (visibleChange)="onClose()" size="lg">
  <ng-template #header cTemplateRegion="dialog-header">
    <h5 cModalTitle>{{ title }}</h5>
    <button cButtonClose (click)="onClose()"></button>
  </ng-template>
  <ng-template #body cTemplateRegion="dialog-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <c-card>
        <c-card-body>
          <c-row class="g-3">
            @for (field of structure; track field.formControlName) {
              <c-col [md]="field.col">
                <div class="mb-3">
                  <label cLabel>{{ field.label }}</label>
                  @if (field.type === 'text') {
                    <input
                      [formControlName]="field.formControlName"
                      [placeholder]="field.placeholder || ''"
                      cFormControl
                      [ngClass]="{ 'is-invalid': isFieldInvalid(field.formControlName) }"
                    />
                  }
                </div>
              </c-col>
            }
          </c-row>
        </c-card-body>
      </c-card>
    </form>
  </ng-template>
  <ng-template #footer cTemplateRegion="dialog-footer">
    <button cButton color="secondary" (click)="onClose()">Cancelar</button>
    <button cButton color="primary" (click)="onSubmit()">Guardar</button>
  </ng-template>
</c-modal>
