@use "sass:map";
@use "../tokens/hex/_tokens-hex" as *;

$theme-colors: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "danger": $color-danger,
    "success": $color-success,
    "info": $color-info,
    "warning": $color-warning,
) !default;

$primary: map.get($theme-colors, "primary");
$danger: map.get($theme-colors, "danger");
$secondary: map.get($theme-colors, "secondary");
$success: map.get($theme-colors, "success");
$info: map.get($theme-colors, "info");
$warning: map.get($theme-colors, "warning");