/* You can add global styles to this file, and also import other style files */

// Import styles with default layout.
@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);

// Import Chart.js custom tooltips styles
@use "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@use "./scss/tokens-oklch";
@use "./scss/core-theme";


.fs-7 {
  font-size: 0.75rem;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
}

.is-invalid {
    border-color: red;
}

.ng-select.is-invalid .ng-select-container {
    border-color: red !important;
}

.invalid-feedback {
    color: red;
    display: block;
}
