<c-modal [visible]="visible"  alignment="center">
  <c-modal-header>
    <h5 cModalTitle>{{ title }}</h5>
    <button (click)="onClose()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="form">
      <c-row>
        <c-col [md]="12" class="mb-3">
          <label cLabel>Nombre de Almacén</label>
          <input cFormControl type="text" formControlName="nombre" placeholder="Ej: Almacén Principal" />
        </c-col>
        <c-col [md]="12" class="mb-3">
          <label cLabel>Sucursal</label>
          <select cSelect formControlName="suc_id">
            <option [value]="null">Seleccione una sucursal</option>
            <option *ngFor="let sucursal of sucursales" [value]="sucursal.suc_id">
              {{ sucursal.suc_nom }}
            </option>
          </select>
        </c-col>
      </c-row>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="onClose()" cButton color="secondary" variant="ghost">
      Cancelar
    </button>
    <button (click)="onSubmit()" cButton color="primary">
      <svg cIcon name="cil-save" size="sm" class="me-2"></svg>
      {{ form.value.alm_id ? 'Actualizar' : 'Guardar' }}
    </button>
  </c-modal-footer>
</c-modal>
